interactions:
- request:
    body: null
    headers:
      X-USER-AGENT: [python-requests/2.22.0 habanero/0.6.2.2]
    method: GET
    uri: https://api.crossref.org/funders/10.13039/100000001?query.container-title=engineering
  response:
    body: {string: '{"status":"failed","message-type":"validation-failure","message":[{"type":"parameter-not-allowed","value":"query.*","message":"This
        route does not support field query parameters"}]}'}
    headers:
      Content-Type: [application/json;charset=UTF-8]
      X-Rate-Limit-Interval: [1s]
      X-Rate-Limit-Limit: ['50']
    status: {code: 400, message: Bad Request}
version: 1
